//
   Created by hong on 8/17/16.

doctype html
html
    head

        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible",content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        block title
            title Default title

        block stylesheets
            link(rel="stylesheet", href="materialize.css")
            link(rel="stylesheet", href="main.css")



    body
        block content
            main.container Main Content


        block scripts
            script(src="jquery/jquery.min.js", type="text/javascript")
            script(src="materialize/js/materialize.min.js", type="text/javascript")
