//
   Created by hong on 8/17/16.

doctype html
html
    head
        block title
            title Default title

        link(rel="stylesheet", href="materialize/css/materialize.min.css")
        link(rel="stylesheet", href="main.css")

        block stylesheets

    body
        block content

        script(src="jquery/jquery.min.js", async="")
        script(src="materialize/js/materialize.min.js", async="")


        block scripts


