<div class="slider">
    <ul class="slides">
        <li>
            <a href="#one">
                <img style="max-width:100vw;"
                     class="image"
                     src="http://placehold.it/2164x1440"
                     srcset="http://placehold.it/320x214 320w,
            http://placehold.it/425x284 425w,
            http://placehold.it/768x512 768w,
            http://placehold.it/1440x960 1440w"
                     sizes="(max-width: 320px) 320px,(max-width: 425px) 425px,(max-width: 768px) 768px,
            (max-width: 1440px) 1440px"
                />


                <!--<img src="{{ asset('assets/images/one.jpg') }}"> &lt;!&ndash; random image &ndash;&gt;-->
                <div class="caption center-align">
                    <h3>This is our big Tagline!</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </a>
        </li>
        <li>
            <a href="#two">
                <img style="max-width:100vw;"
                     class="image"
                     src="http://placehold.it/2164x1440"
                     srcset="http://placehold.it/320x214 320w,
            http://placehold.it/425x284 425w,
            http://placehold.it/768x512 768w,
            http://placehold.it/1440x960 1440w"
                     sizes="(max-width: 320px) 320px,(max-width: 425px) 425px,(max-width: 768px) 768px,
            (max-width: 1440px) 1440px"
                />

                <!--<img src="{{ asset('assets/images/two.jpg') }}"> &lt;!&ndash; random image &ndash;&gt;-->
                <div class="caption left-align">
                    <h3>Left Aligned Caption</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </a>
        </li>
        <li>
            <a href="#three">
                <img style="max-width:100vw;"
                     class="image"
                     src="http://placehold.it/2164x1440"
                     srcset="http://placehold.it/320x214 320w,
            http://placehold.it/425x284 425w,
            http://placehold.it/768x512 768w,
            http://placehold.it/1440x960 1440w"
                     sizes="(max-width: 320px) 320px,(max-width: 425px) 425px,(max-width: 768px) 768px,
            (max-width: 1440px) 1440px"
                />

                <!--<img src="{{ asset('assets/images/three.jpg') }}"> &lt;!&ndash; random image &ndash;&gt;-->
                <div class="caption right-align">
                    <h3>Right Aligned Caption</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </a>
        </li>
    </ul>
</div>
